<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TimViec</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAccountServlet</display-name>
    <servlet-name>ManageAccountServlet</servlet-name>
    <servlet-class>controller.ManageAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAccountServlet</servlet-name>
    <url-pattern>/ManageAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>controller.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>controller.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieDeletionServlet</display-name>
    <servlet-name>CookieDeletionServlet</servlet-name>
    <servlet-class>controller.CookieDeletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDeletionServlet</servlet-name>
    <url-pattern>/CookieDeletionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccountServlet</display-name>
    <servlet-name>SearchAccountServlet</servlet-name>
    <servlet-class>controller.SearchAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountServlet</servlet-name>
    <url-pattern>/SearchAccountServlet</url-pattern>
  </servlet-mapping>
</web-app>