<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TimViec</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>HomeServlet</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAccountServlet</display-name>
    <servlet-name>ManageAccountServlet</servlet-name>
    <servlet-class>controller.ManageAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAccountServlet</servlet-name>
    <url-pattern>/ManageAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>controller.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>controller.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieDeletionServlet</display-name>
    <servlet-name>CookieDeletionServlet</servlet-name>
    <servlet-class>controller.CookieDeletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDeletionServlet</servlet-name>
    <url-pattern>/CookieDeletionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccountServlet</display-name>
    <servlet-name>SearchAccountServlet</servlet-name>
    <servlet-class>controller.SearchAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountServlet</servlet-name>
    <url-pattern>/SearchAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobDetailServlet</display-name>
    <servlet-name>JobDetailServlet</servlet-name>
    <servlet-class>controller.JobDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobDetailServlet</servlet-name>
    <url-pattern>/JobDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>controller.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageEmployerServlet</display-name>
    <servlet-name>ManageEmployerServlet</servlet-name>
    <servlet-class>controller.ManageEmployerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageEmployerServlet</servlet-name>
    <url-pattern>/ManageEmployerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserServlet</display-name>
    <servlet-name>ManageUserServlet</servlet-name>
    <servlet-class>controller.ManageUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserServlet</servlet-name>
    <url-pattern>/ManageUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEmployerServlet</display-name>
    <servlet-name>RegisterEmployerServlet</servlet-name>
    <servlet-class>controller.RegisterEmployerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployerServlet</servlet-name>
    <url-pattern>/RegisterEmployerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>controller.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobListServlet</display-name>
    <servlet-name>JobListServlet</servlet-name>
    <servlet-class>controller.JobListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobListServlet</servlet-name>
    <url-pattern>/JobListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerServlet</display-name>
    <servlet-name>EmployerServlet</servlet-name>
    <servlet-class>controller.EmployerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerServlet</servlet-name>
    <url-pattern>/EmployerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecruitmentServlet</display-name>
    <servlet-name>RecruitmentServlet</servlet-name>
    <servlet-class>controller.RecruitmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruitmentServlet</servlet-name>
    <url-pattern>/RecruitmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageJobServlet</display-name>
    <servlet-name>ManageJobServlet</servlet-name>
    <servlet-class>controller.ManageJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageJobServlet</servlet-name>
    <url-pattern>/ManageJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyServlet</display-name>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>controller.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/ApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobServlet</display-name>
    <servlet-name>DeleteJobServlet</servlet-name>
    <servlet-class>controller.DeleteJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobServlet</servlet-name>
    <url-pattern>/DeleteJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmJobServlet</display-name>
    <servlet-name>ConfirmJobServlet</servlet-name>
    <servlet-class>controller.ConfirmJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmJobServlet</servlet-name>
    <url-pattern>/ConfirmJobServlet</url-pattern>
  </servlet-mapping>
</web-app>